﻿@model IEnumerable<WebUI.Models.MusicItem>
@{
    ViewBag.Title = "Media Player";
}

<div id="header">Top section</div>
<div id="sidebar">
    <div id="player">
        <a href="#" class="button" id="PreviousTrack" title="Previous Track">Previous</a>
        <a href="#" class="button" id="PlayTrack" title="Play/Pause">Play</a>
        <a href="#" class="button" id="PauseTrack" title="Play/Pause" style="display: none;">Pause</a>
        <a href="#" class="button" id="NextTrack" title="Next Track">Next</a>
        <div>
            <div id="playdeck"></div>
        </div>       
        <div><a href="#" class="button" id="action_ToggleSideBar" title="Toggle Side Bar"></a></div>
            <div id="playermiddle">
                <div id="audiocontainer">
                    <div class="audiojs" id="audio_wrapper0">
                    <div class="scrubber"><div class="progress"></div><div class="loaded"></div></div>
                    <div class="time"><em id="played">00:00</em>/<strong id="duration">00:00</strong></div>
                    <div class="error-message"></div>
                    </div>
                </div>
                <div id="preview"></div>
            </div>
    </div>
    <div id="nowPlaying">
        <table>
            <tr>
                <th>Title</th>
            </tr>
            <tbody>
                @foreach (var item in Model.Take(10))
                {
                    <tr><td><a href="#" class="button" onclick="playUrl('@Guid.NewGuid()')">@item.Title</a></td></tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div id ="libraryContainer">
    <table>
    <tr>
        <th>Title</th>
    </tr>
    <tbody>
    @foreach (var item in Model)
    {
        <tr><td><span>@Html.ActionLink(item.Title, "PlaySingleTrack", "Stream", new { id = item.Id }, null)</span></td></tr>
    }
    </tbody>
    </table>
</div>
<script type="text/javascript">
    function playUrl(itemId) {
        $("#playdeck").jPlayer("destroy");
        var url = 'http://localhost:3579/Stream/PlaySingleTrack/' + itemId;
        $("#playdeck").jPlayer({
            ready: function() {
                $(this).jPlayer("setMedia", {
                    mp3: url
                });
                $(this).jPlayer("play");
            },
            supplied: "mp3",
            swfPath: "/Scripts",
            cssSelectorAncestor: "#player",
            cssSelector: {
                play: "#PlayTrack",
                pause: "#PauseTrack",
                seekBar: "#audiocontainer .scrubber",
                playBar: "#audiocontainer .progress",
                currentTime: "#played",
                duration: "#duration"
            },
        });
        $.jPlayer.timeFormat.showHour = true;
    }
  </script>