﻿body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

/* Main page styles*/
#header {
    
}

#libraryContainer {
    /*float: right;*/
    display: block;
}

#player {
    
}

#sidebar {
    /*float: left;
    display: inline;*/
}
#nowPlaying{
    
}

.audiojs .scrubber
{
    height: 4px;
    margin: 35px 5px 0px 5px;
    float: none;
    width: auto;
    position: relative;
    background: #5A5A5A;
    border-top: 0px;
    border-left: 0px;
    border-bottom: 0px;
    overflow: hidden;
    cursor: pointer;
}
.audiojs .progress 
{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 14px;
    width: 0px;
    background: #CCC;
    z-index: 1;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #CCC), color-stop(0.5, #DDD), color-stop(0.51, #CCC), color-stop(1, #CCC));
    background-image: -moz-linear-gradient(center top, #CCC 0%, #DDD 50%, #CCC 51%, #CCC 100%);
}
.audiojs .loaded 
{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 14px;
    width: 0px;
    background: black;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #222), color-stop(0.5, #333), color-stop(0.51, #222), color-stop(1, #222));
    background-image: -moz-linear-gradient(center top, #222 0%, #333 50%, #222 51%, #222 100%);
}
.audiojs .time
{
    float: right;
    border: none;
    line-height: 17px;
    padding: 0 0 0 5px;
    font-size: 11px;
    text-shadow: none;
    height: 36px;
    margin: 0px 0px 0px 6px;
}
.audiojs .time em
{
    padding: 0px 2px 0px 0px;
    font-style: normal;
}